//_mixin_reusable.scss
@use "./mixin_flex_lb.module" as mif;

// Gradient text mixin
@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; // Firefox
}

// claymorphism
@mixin claymorphism-type-1($bgColor: green) {
  backdrop-filter: blur(5px);
  box-shadow: inset -8px -8px 16px 0 rgb(var($bgColor), 0.15),
    inset 0 11px 28px 0 rgb(var($bgColor));
}

// Light neon effect mixin
@mixin neon-light($color) {
  text-shadow: 0 0 2px rgba($color, 0.4), 0 0 4px rgba($color, 0.3),
    0 0 6px rgba($color, 0.2), 0 0 10px rgba($color, 0.1);
}

// neon flicker
@mixin neon-flicker($name: neon-flicker, $duration: 1.5s, $intensity: 0.6) {
  @keyframes #{$name} {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      opacity: 1;
    }
    20%,
    24%,
    55% {
      opacity: $intensity;
    }
  }

  animation: #{$name} $duration infinite alternate;
}

@mixin btn-type-1(
  $text-color: #25d366,
  $border-color: #25d366,
  $bg-color: #292f33,
  $hover-bg: #ea4335,
  $hover-color: white
) {
  @include mif.flex-row-jc-ac;
  gap: 10px;
  font-size: 1.1rem;
  padding: 10px 22px;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 8px;
  color: $text-color;
  border: 1px solid $border-color;

  @media (width <= 768px) {
    font-size: 1em;
  }
  @media (width <= 520px) {
    padding: 8px 20px;
  }
  @media (width <= 320px) {
    font-size: 0.9em;
    padding: 6px 18px;
  }

  &:hover {
    background: $hover-bg;
    color: $hover-color;
    transform: translateY(-2px);
  }
}
